.wrap {
  display: flex;
  background: -webkit-linear-gradient(left top, white, black);
  background: -o-linear-gradient(bottom right, white, black);
  background: -moz-linear-gradient(bottom right, white, black);
  background: linear-gradient(to bottom right, white, black);
}
.profile-container {
  /*background: -webkit-linear-gradient(left top, white, grey);
  background: -o-linear-gradient(bottom right, white, grey);
  background: -moz-linear-gradient(bottom right, white, grey);
  background: linear-gradient(to bottom right, white, grey);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 100px;
  width: 50%;
}
.profile-info {
  color: white;
  margin: 20px;
  padding: 15px;
  background: -webkit-linear-gradient(left top, grey, lightslategrey);
  background: -o-linear-gradient(bottom right, grey, lightslategrey);
  background: -moz-linear-gradient(bottom right, grey, lightslategrey);
  background: linear-gradient(to bottom right, grey, lightslategrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.name {
  font-family: Roboto;
  font-size: 20px;
}
.me {
  height: 150px;
  margin: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.info_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc {
  color: white;
  font-family: Roboto;
  font-size: 15px;
  letter-spacing: 1px;
}
.contact_me {
  margin-top: 10px;
  padding: 4px 6px;
  font-size: 15px;
  letter-spacing: 1px;
  border-top: 2px solid lightblue;
  border-left: 2px solid lightblue;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background: -webkit-linear-gradient(darkblue, blue);
  background: -o-linear-gradient(darkblue, blue);
  background: -moz-linear-gradient(darkblue, blue); 
  background: linear-gradient(darkblue, blue);
}
.contact_me:hover {
  color: white;
  background: -webkit-linear-gradient(blue, aqua);
  background: -o-linear-gradient(blue, aqua);
  background: -moz-linear-gradient(blue, aqua); 
  background: linear-gradient(blue, aqua);
}
.bttns {
  width: 65%;
  display: flex;
  justify-content: space-around;
}
.bttns > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 2px solid lightblue;
  border-left: 2px solid lightblue;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background: -webkit-linear-gradient(darkblue, blue);
  background: -o-linear-gradient(darkblue, blue);
  background: -moz-linear-gradient(darkblue, blue); 
  background: linear-gradient(darkblue, blue);
}
.bttns > div:hover {
  background: -webkit-linear-gradient(blue, aqua);
  background: -o-linear-gradient(blue, aqua);
  background: -moz-linear-gradient(blue, aqua); 
  background: linear-gradient(blue, aqua);
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}